<p>
    This extended class will offer further in-depth discussions and training on using the latest web development
    technologies
    preparing students to enter into the professional work field of web development.
</p>

<h2>When we meet:</h2>
<p>
    We will meet in the computer lab directly after the Faith Homeschool classes are dismissed from the auditorium.
    We anticipate our class to be about 1 hour to 1.5 hours.
</p>
<p>
    <strong>Note: </strong> Because this will be right around lunch time, the student may want to bring a small lunch or snack.
</p>

<h2>Price:</h2>
<p>There will be no cost for this extra class.</p>


<h2>What we will cover:</h2>
<ul>
    <li>Beginner through advanced level Javascript</li>
    <li>Web frameworks such as Bootstrap and AngularJS which are used by large enterprise companies to build their
        online web applications.
    </li>
    <li>Learn how to use version control systems such as Git. This allows multiple developers to work on the same
        project and control source code versions.
    </li>
    <li>Learn how to create web forms and save information to a backend server, such as the registration page on this
        site.
    </li>
    <li>Occasionally we may work on real world projects such as banking applications and more.</li>
    <li>Many more items that come with day-to-day development practices</li>
</ul>

<h2>The goal of the class:</h2>
<p>
    The goal of this extended class is to go beyond the basics of the intro level class. This allows the student to see the
    big picture of the entire web development process.
</p>


<h2>Who can join:</h2>
<p>Any student in 10th, 11th, or 12th grade. We ask the students should be serious about this as we will be fully
    focused on their success and education.</p>


<h2>About the teachers:</h2>
<div class="teacher-container">
    <div class="photo">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06a/302/229f005.jpg" />
    </div>
    <div class="name">
        Lucas Hoezee
    </div>
    <div class="info">
        <strong>Experience: </strong><br/>
        <ul>
            <li>13 years total experience in the web development industry</li>
            <li>10 years with backend programming, server administration, and database management</li>
            <li>Worked on medical apps</li>
            <li>Banking and financial services sites</li>
            <li>Many other internal self funded projects</li>
        </ul>
    </div>

    <div class="clearfix"></div>
</div>


<div class="teacher-container">
    <div class="photo">
        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAkCAAAAJGFiYzdlYjU3LTE4MjAtNGNhMy1iYWFmLWNlMThlNGIxZjg5Mg.jpg" />
    </div>
    <div class="name">
        Kristepher Krebs
    </div>
    <div class="info">
        <strong>Experience: </strong><br/>
        <ul>
            <li>2 years total experience in the web development industry</li>
            <li>Banking and financial services sites</li>
            <li>2 full years of mobile / smart phone app development</li>
            <li>Offers great insight to new developers to help bridge the gap between new developers and advanced level developers.</li>
        </ul>
    </div>

    <div class="clearfix"></div>
</div>


<div class="spacer"></div>

<div class="text-center">
    <a class="btn btn-primary" [routerLink]="['/registration']">Register for class here</a>
</div>

