:host {
  display: block;
  padding: 0 16px 16px 16px;
}

input {
  width: 250px;
}

.teacher-container {
    padding: 15px;
    border-bottom: 1px solid #cdcdcd;
}

.teacher-container .photo {
    float: left;
    width: 100px;
    margin-right: 25px;
}

.teacher-container .photo img {
    width: 100%;
    border-radius: 50px;
}

.info {
    float: left;
}
